name: Close PR

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write

jobs:
  close_pr:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login != 'shoshta73'
    steps:
      - name: Comment and close
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'This repository does not accept pull requests. Please contact the maintainer directly if you have suggestions.'
            })
            github.rest.pulls.update({
              pull_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'closed'
            })
